<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="/style.css">
   

</head>
<body>
  <header>
         <a href="#" class="logo">FLAVOUR<div class="logo1">fiesta</div> </a>

 <ul class="navigation">
        <li><a href="/">Home</a></li>
        
        <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
    </ul>
    </header>

    <!--Navigation bar-->

   

    <!--   BANNER   -->

    <section class="banner" id="home1">
        <img src="mainn.jpg"  class="cover">
        <div class="contentBox">
            <h2>All your favourite recipes</h2>
            <h4>at a single place</h4>
            <a href="/login" class="btn">LOGIN</a>
        </div>
    </section>
<section class="post" id="post">
   <div class="title">
    <h2>Top Recipes</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima dolore sequi molestiae soluta quidem
        atque excepturi, officia, quaerat delectus vel eligendi velit. Inventore reprehenderit ?</p>
</div>
   <div class="row">
    <div class="column">
    <div class="cont"><div class="image">
      <img src="9.jpg"> </div>
      <div class="overlay"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>  </div>
    </div>
    <div class="cont">
      <img src="1.jpg" class="image">
      <div class="overlay"><p> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> </div>
    </div>
      <div class="cont">
      <img src="8.jpg" class="image">
      <div class="overlay"><p> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> </div>
    </div>
    </div>
    <div class="column">
    <div class="cont">
      <img src="3.jpg" class="image">
      <div class="overlay"><p> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> </div>
    </div>

      <div class="cont">
      <img src="4.jpg" class="image">
      <div class="overlay"><p> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> </div>
      </div>

      <div class="cont">
      <img src="5.jpg" class="image">
      <div class="overlay"><p> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> </div>
      </div>
      
     

      
    </div>
    <div class="column">

    <div class="cont">
      <img src="6.jpg" class="image">
      <div class="overlay"><p> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> </div>
    </div>

    <div class="cont">
      <img src="7.png" class="image">
      <div class="overlay"><p> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> </div>
    </div>
    
    <div class="cont">
      <img src="2.jpg" class="image">
      <div class="overlay"><p> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> </div>
    </div>
    </div>
    
  </div>
  <br>
  <br>
  <div class="title" style="font-size:25px">
    <p ><a href="/login">Login</a> to view and post Recipes!</p>
  </div>
</section>
 <footer>
     <a href="#" class="logo">FLAVOUR<div class="logo1">fiesta</div> </a>
     <ul class="footerMenu">
      <li><a href="/">Home</a></li>
        
        <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
    </ul>
    <p class="copyrightText"> Copyright © 2023. All Rights Reserved.</p>

</footer>    
</body>
</html>