<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=for, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

    <title>Document</title>
</head>
<body>
       <header>
       <a href="#" class="logo">FLAVOUR<div class="logo1">fiesta</div> </a>
 <ul class="navigation">
        <li><a href="/">Home</a></li>
        
        <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
    </ul>
    </header>

    <!--Navigation bar-->

   

    <!--   BANNER   -->

    <section class="banner" id="home1">
        <img src="mainn.jpg"  class="cover">
        <form class="loginform" action="/register" method="post">
        <input type="text" name="username" placeholder="Enter username" required>
        <input type="text" name="email" placeholder="Enter email" required>
        <input type="text" name="password" placeholder="Enter password" required>
        <button type="submit">Register</button>
    </form>
      

    </section>
 <footer>
     <a href="#" class="logo">FLAVOUR<div class="logo1">fiesta</div> </a>
     <ul class="footerMenu">
      <li><a href="/">Home</a></li>
        
        <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
    </ul>
    <p class="copyrightText"> Copyright © 2023. All Rights Reserved.</p>

</footer>    
    
</body>
</html>